/*
.color-primary-0 { color: #26596A } 
.color-primary-1 { color: #0D2D37 }
.color-primary-2 { color: #184351 }
.color-primary-3 { color: #377184 }
.color-primary-4 { color: #4B899D }*/

.variable {
    padding : 5px;
    /*background-color: #184351;*/
    /*background-color: rgb(38, 117, 129);*/
    border-radius: 3px;
    display: inline-block;
    cursor: pointer; /*only gets displayed when targetable (when creating the variables\)*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.variable p {
    margin-bottom: 0;
    word-wrap: break-word;
}

.variable a {
    text-decoration: none;
    color: #BBBBBB;
}

.section {
    width: 96%; /* Account for the margin and padding */
    /*height: 100%;*/
    background-color: rgb(81, 174, 189);
    border-radius: 2px;
    /*padding : 5px;*/
    border-style: solid;
    border-width: 3px;
    border-color: #324247;
    /*flex: 0 1 auto;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
    cursor:grab;
    padding: 3px;
}

.big_text {
    font-size: 16pt;
}

.widget_blank {
    width: 100%;
    height: 100%;
}

.item_container {
    margin: 0.8%;
    display: inline-table;
}

.spacer-1 {
    width: 100%;
    height: 20px;
    padding: 0;
    background-color: #184351;
    border-radius: 4px;
    text-align: center;
}

/*.spacer-1-3 {
    width: 33%;
    height: 20px;
    background-color: #184351;
}

.spacer-1-4 {
    width: 25%;
    height: 20px;
    background-color: #184351;
}*/

.builder_title {
    padding : 5px;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;

}

#widget_builder {
    width:100%;
    height:100%;
    opacity:.98;
    top: 200vh;
    left:0;
    position:fixed;
    background-color:#313131;

    -webkit-transition: top 0.3s ease-in;
    -moz-transition: top 0.3s ease-in;
    transition: top 0.3s ease-in;
}

#builder_container {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: #313131;
}

#builder_layout {
    width: 100%;
    height: 100%;
}

#current_state_container {
    display: block;
    min-height: 70vh;
    min-width: : 300px;
    width: 400px;
}

#variable_builder_container {
    display: block;
    min-height: 70vh;
    min-width: : 300px;
    width: 400px;
    /*background-color: #296c82;*/
    background-color: rgb(81, 174, 189);
    border-radius: 3px;

    border-style: solid;
    border-width: 3px;
    border-color: #324247;
}

#configure_container {
    display: block;
    min-height: 70vh;
    min-width: : 70vw; /* min-width: aint foing anything for some reason, min-height it working as expected */
    /*background-color: #24677c;*/
    background-color: rgb(81, 174, 189);
    border-radius: 3px;

    border-style: solid;
    border-width: 3px;
    border-color: #324247;
}

#item_palette_container {
   /*display: inline-block;*/
   padding: 35px;
   max-width: 400px; 
}

#builder_control {
    width: 100%;
    margin-top: 80px;
    align-items: center;
    text-align: center;
}

#builder_trashcan {
    min-width: 50px;
    min-height: 50px;
    background-color: purple;
}

#variable_builder {
    height: 50%;
    width: 100%;
    min-height: 20vh;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: center;
}

#wip_widget {
    height: 100%;
    width: 100%;
    min-height: 70vh;
}

#widget_test_container {
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
    background-color:#313131;
    display:none;
}


#widget_test_popup{
    width: 400px;
    height: 70vh;
    margin: 0 auto;
    margin-top: 70px;
}

#quit_builder {
    margin-top: 70px;
}

#widget_test_control {
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

#data_config {
    text-align: center;
    padding: 10px;
}

.data_config_item {
    display: inline-block;
    margin-top: 20px;
}

#service_output { /*TODO: should by dynamic not a set pixel width and height */
    min-width : 200px; 
    min-height: 170px;
}


.display_spacing {
    display: inline-block;
    margin: 2%;
    /*margin-top: 8%;*/
}

#urlErrorBox{
    /*color: #cc0000;*/
    font-size: 12pt;
    margin-top: 10px;

    text-shadow:
    -.5px -.5px 0 #cc0000,
    .5px -.5px 0 #cc0000,
    -.5px .5px 0 #cc0000,
    .5px .5px 0 #cc0000;
    color: white;
    /*text-stroke*/
    /*-webkit-text-stroke : 0.5px #000;*/
}

.radio_text {
   display: inline-block;
}

#service_output_container {
    display: none;
}

select {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #296c82;
    outline: none;
    border-radius: 10px;
}

select option {
    background-color: #296c82;
    color: #FFFFFF;
    outline:none;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #184351 inset;
    cursor: grab;
}