

.variable {
    padding : 0.5%;
    background-color: red;
    display: inline-table;
}

.widget_blank {
    width: 100%;
    height: 100%;
}

#widget_builder {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    /*overflow:auto;*/
}

#builder_container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
}

#builder_layout {
    width: 100%;
    height: 100%;
}

#current_state_container {
    display: block;
    min-height: 70vh;
    min-width: : 70vw;
    background-color: purple;
}

#variable_builder_container {
    display: block;
    min-height: 70vh;
    min-width: : 70vw;
    background-color: green;
}

#configure_container {
    display: block;
    min-height: 70vh;
    min-width: : 70vw; /* min-width: aint foing anything for some reason, min-height it working as expected */
    background-color: orange;
}

#item_pallete_container {
    
}

#variable_builder {
    height: 100%;
    width: 100%;
    display: inline-table;
}

#builder_base {
    height: 100%;
    width: 100%;
    min-height: 70vh;
    display: inline-table;
}

#service_output { /*TODO: should by dynamic not a set pixel width and height */
    min-width : 200px; 
    min-height: 200px;
}