

.variable {
    padding : 0.5%;
    background-color: red;
    display: inline-block;
}

.widget_blank {
    width: 100%;
    height: 100%;
}

.item_container {
    margin: 0.8%;
    display: inline-table;
}

#widget_builder {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    /*overflow:auto;*/
}

#builder_container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
}

#builder_layout {
    width: 100%;
    height: 100%;
}

#current_state_container {
    display: block;
    min-height: 70vh;
    min-width: : 300px;
    width: 400px;
    background-color: purple;
}

#variable_builder_container {
    display: block;
    min-height: 70vh;
    min-width: : 300px;
    width: 400px;
    background-color: green;
}

#configure_container {
    display: block;
    min-height: 70vh;
    min-width: : 70vw; /* min-width: aint foing anything for some reason, min-height it working as expected */
    background-color: orange;
}

#item_pallete_container {
   display: inline-block; 
}

#variable_builder {
    height: 100%;
    width: 100%;
    /*width: 300px;
    height: 300px;*/
    min-height: 70vh;
}

#wip_widget {
    height: 100%;
    width: 100%;
    min-height: 70vh;
}

#service_output { /*TODO: should by dynamic not a set pixel width and height */
    min-width : 200px; 
    min-height: 200px;
}

#variable_display{
    display: inline;
    margin: 0.7%;
}

#label_display {
    display: inline;
    margin: 0.7%;
}

#big_label_display{
    display: inline;
    margin: 0.7%;
}

#variable_unit_display {
    display: inline;
    margin: 0.7%;
}

#variable_data_display {
    display: inline;
    margin: 0.7%;
}