/* css */
/*
.color-primary-0 { color: #26596A } 
.color-primary-1 { color: #0D2D37 }
.color-primary-2 { color: #184351 }
.color-primary-3 { color: #377184 }
.color-primary-4 { color: #4B899D }*/

#header {
    color: white;
    background-color: #377184;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    display: inline-block;
    margin-left: 40px;
}

#navigation {
    display: inline-block;
    float: right;

    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(+80%);
    -webkit-transform: perspective(1px) translateY(+80%);
    -moz-transform: perspective(1px) translateY(+80%);
    -ms-transform: perspective(1px) translateY(+80%);

    margin-right: 100px;
}

.widget_title {
    padding : 3px;
    font-size: 18pt;
    background-color: #42aaf4; /*#043444;*/
    border-radius: 4px;
    display: inline-block;

    cursor: pointer; /*only gets displayed when targetable (when creating the variables\)*/
    margin-top: 1px;
    margin-bottom: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    border-style: solid;
    border-width: 2px;
    border-color: #324247;
}

.widget {
    width: 100%;
    height: 100%;
    background-color: #377184;
    border-radius: 15px;
    padding : 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #324247;
    flex: 1;
}



.hidden {
    opacity: 0;
}

.title {
    font-size: 21pt;
}

.widget_child_elements { /* Used to fix drag and dropping in HTML5, must be applied to all sub elemnts opf the elemnt you want to drag*/
  pointer-events: none;
}

.widget_grid{
    width: 100%;
    height: 100%;
    margin: -20px; 
    border-spacing: 40px 20px; 
}

.widget_container {
    min-height: 26vh;
    height: 100%;
    width: 100%;

    display: inline-flex;
    flex-direction: column;
}

.col {
    height: 100%;
    width: 33%;
}

#grid_container {
    height: 100%;
    width: 100%;
}

.widget_container_manager {
    max-height: 20vh;
    height: 100%;
    width: 100%;

    display: inline-flex;
    flex-direction: column;
}

body {
    background-color: #f4fcfc;
    /*background-color: #273033;*/
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.display_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inline_text {
    display: inline-block;
}

button {
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #CC5916;*/
    background-color: #FF4A27;
    border-radius: 5px;
}

.small-btn {
    width: 70px;
    height: 30px;
    display: inline-block;
}

.medium-btn {
    width: 140px;
    height: 30px;
    display: inline-block;
}

.large-btn {
    width: 200px;
    height: 30px;
    font-size: 10pt;
    display: inline-block;
    /*margin-top: 15px;*/
}
