/* css */

#header {
    color: white;
    /*background-color: #377184;*/
    background-color: rgb(38, 117, 129);
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 41%, #2cb5e8 75%);*/
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#title {
    display: inline-block;
    margin-left: 40px;
    font-size: 24pt;
}

#title::first-letter {
    font-size: 120%;
    color: #FF4A27;
}

#navigation {
    display: inline-block;
    float: right;

    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(+80%);
    -webkit-transform: perspective(1px) translateY(+80%);
    -moz-transform: perspective(1px) translateY(+80%);
    -ms-transform: perspective(1px) translateY(+80%);

    margin-right: 100px;
}

.widget_title {
    padding : 3px;
    font-size: 18pt;
    display: inline-block;
    cursor: pointer; /*only gets displayed when targetable (when creating the variables\)*/
    margin-top: 1px;
    margin-bottom: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.widget {
    width: 96%; /* Account for the margin and padding */
    height: 100%;
    background-color: rgb(81, 174, 189);
    border-radius: 2px;
    padding : 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #324247;
    flex: 0 1 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.hidden {
    opacity: 0;
}

.title {
    font-size: 21pt;
}

.untargetable { /* Used to fix drag and dropping in HTML5, must be applied to all sub elemnts opf the elemnt you want to drag*/
  pointer-events: none;
}

.targetable { /* Used to fix drag and dropping in HTML5, must be applied to all sub elemnts opf the elemnt you want to drag*/
  pointer-events: auto;
}

#web_viewer {
    width:100%;
    height:100%;
    opacity:.98;
    /*top: 100vh;*/
    top: 0;
    left:0;
    position:fixed;
    background-color:#313131;
    text-align: center;
}

#web_frame{
    width:80%;
    height:90%;
    background-color: white;
}

.widget_grid{
    width: 100%;
    height: 100%;
    border-spacing: 20px -20px; 
}

.widget_container {
    min-height: 26vh;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    
    /*overflow: hidden;
    max-height: 30vh;*/
}

.col {
    height: 100%;
    width: 33%;
}

#grid_container {
    height: 100%;
    width: 100%;
}

.widget_container_manager {
    max-height: 20vh;
    height: 100%;
    width: 100%;

    display: inline-flex;
    flex-direction: column;
}

body {
    background-color: #f4fcfc;
    /*background-color: #273033;*/
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.display_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inline_text {
    display: inline-block;
}

button {
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #CC5916;*/
    background-color: #FF4A27;
    border-radius: 5px;
    /*box-shadow: 0 0 2px #000;*/
}

button:hover {
    box-shadow: 0 0 3px #f4fcfc;
}

.small-btn {
    width: 70px;
    height: 30px;
    display: inline-block;
}

.medium-btn {
    width: 140px;
    height: 30px;
    display: inline-block;
}

.large-btn {
    width: 200px;
    height: 30px;
    font-size: 10pt;
    display: inline-block;
    /*margin-top: 15px;*/
}
