/* css */

#header {
    color: red;
    background-color: aqua;
    margin-left: 10px;
}

#grid_container {
    display: table;
    width: 100%;
    height: 100%;
}

.horizontal_section {
    background-color: red;
    width: 100%;
    margin-top: 8px;
}

.widget {
    /*display: inline-block;*/
    width: 100%;
    min-height: 26vh;
    background-color: purple;
    /*margin-right: 5px;*/
}

.hidden {
    opacity: 0;
}

.title {
    font-size: 21pt;
}

.variable {
    padding : 0.5%;
    background-color: red;
    display: inline-table;
}

.widget_child_elements { /* Used to fix drag and dropping in HTML5*/
  pointer-events: none;
}

#widget_grid{
    width: 100%;
    height: 100%;
}

.widget_container {
    min-width: 400px;
    min-height: 400px;
    width: 33%;
}