

#saved_widgets {
	width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    /*display:none;*/
    position:fixed;
    background-color:#313131;

    left: -999em;
}

#saved_container {
	width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
}

#saved_display_on {
    /*z-index: auto;
    opacity: .95;*/
    left: auto;
}


#saved_display_off {
    left: -999em;
    /*z-index: -1;
    opacity: 0;
    background: rgba(49,49,49,0.0);*/
}

.transition{
  -webkit-transition: all 2s ease-in-out;
  -moz-transition:all 2s ease-in-out;
  -o-transition:all 2s ease-in-out;
  transition:all 2s ease-in-out;
}

.saved_control {
    text-align: center;
    margin-top: 10px;
}

.saved_control a {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    margin-left: 8px;
    margin-right: 8px;
}