

#saved_widgets {
	width:100%;
    height:100%;
    opacity:.98;
    top:0;
    position:fixed;
    background-color:#313131;

    right: -200vw; /* -200vw = - double the width of the screen */

    -webkit-transition: right 0.3s ease-out;
    -moz-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
}

#saved_container {
	width: 95%;
    height: 80%;
    margin: 0 auto;
    /*margin-top: 40px;*/
    background-color: #313131;
}

.saved_control {
    text-align: center;
    margin-top: 10px;
}

.saved_control a {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    margin-left: 8px;
    margin-right: 8px;
}

.widget_container_manager {
    min-height: 20vh;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    /*overflow: hidden;*/
    /*overflow: hidden;*/
    /*overflow: auto;*/
    overflow-y: hidden;
    max-height: 26vh;
    position: relative;
}

.widget_container_manager_overflown:after {
  content  : "";
  position : absolute;
  z-index  : 1000;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(49,49,49, 0), 
                    rgba(49,49,49, 1) 90%);
  width    : 100%;
  height   : 2em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.7s linear infinite;
    position: absolute;
    /*margin: 0 auto;*/
    top:40%;
    left: 50%;
    margin-top: -68px; /*120/2 + 16/2 = 68*/
    margin-left: -68px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
